@font-face {
    font-family: 'Source Sans Pro';
    font-style: normal;
    font-weight: 400;
    src: local('Source Sans Pro'), local('SourceSansPro-Regular'),
        url(//themes.googleusercontent.com/static/fonts/sourcesanspro/v5/ODelI1aHBYDBqgeIAH2zlBM0YzuT7MdOe03otPbuUS0.woff)
            format('woff');
}

html {
    width: 320px;
    margin: 0px;
    padding: 0px;
}

body {
    margin: 0px;
    padding: 10px;
    font-size: 1rem;
}

span.title {
    vertical-align: super;
}
option {
    font-size: 80%;
}

.heading {
    font-size: 1.6rem;
    margin-top: 20px;
}

.label {
    font-size: 1.2rem;
    text-align: end;
}

.row {
    margin-bottom: 0px;
}
.input-field {
    margin-top: 0px;
    margin-bottom: 0px;
}

.nudge-right {
    margin-left: 15px;
}

.nudge-right {
    margin-left: 15px;
}
.dropdown-content li {
    min-height: 0px;
}
.dropdown-content li>span {
    font-size: 12px;
    line-height: 18px;
    padding: 8px 9px;
}

img.App-logo {
    margin-right: 10px;
    display: inline;
    width: 40px;
    align: middle;
}
.options-label {
    font-size: 1rem;
}

p {
    vertical-align: super;
    margin-block-start: 0.5em;
    margin-block-end: 0.5em;
}
